<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<div>
  <%= form_for @order do |f| %>
      <%= f.label 'free trial' %>
      <%= f.radio_button :length, 1 %>
      <%= f.label '1 month' %>
      <%= f.radio_button :length, 2 %>
      <%= f.label '3 month' %>
      <%= f.radio_button :length, 3 %>
      <%= f.label '6 month' %>
      <%= f.radio_button :length, 4 %>
      <br>
      <%= f.label 'navercafe' %>
      <%= f.check_box :navercafe %>
      <%= f.label 'dcinside' %>
      <%= f.check_box :dcinside %>
      <%= f.label 'twitter' %>
      <%= f.check_box :twitter %>
      <br>
      <%= f.label 'keyword' %>
      <%= f.text_area :keyword, rows: 1 %>
      <br>
      <%= f.submit ("submit") %>
      </div>
  <% end %>
</div>