<!DOCTYPE html>
<html>
  <head>
    <title>Omnisian</title>
    <link rel="icon"
          type="image/png"
          href="https://s3.ap-northeast-2.amazonaws.com/jongwonnet/jongwon/IFG_icon.png">
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= link_to "Home", orders_path %>
  <% if current_user %>
      Logged in as <%= current_user.email %>
      <%= link_to "Order Now", new_order_path %>
      <%= link_to "My Page", orders_path %>
      <%= link_to "Log Out", logout_path %>
  <% else %>
      <%= link_to "Sign Up", new_user_path %> or
      <%= link_to "Log In", new_session_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
